<footer>
    <div class="logotype"><img id="logoImg" src={{asset('images/M.png')}}  alt=""></div>
    <div class="infos">
        <p><b>DURAY MAURINE</b></p>
        <p>Rue de Ghislenghien 33,</p>
        <p>7822 - Ghislenghien </p>
        <p>maurine.duray@proximus.be</p>
        <p>0479/08.86.81</p>
    </div>
    <div class="network">
       <b>Suivez-moi</b> sur <br>les réseaux sociaux:
       <div class="link">
            <a href="https://www.facebook.com/MaurineDsign" target="_blank"><img src={{asset('images/facebook.png')}} alt="logo facebook" class="links"></a>
            <a href="https://www.instagram.com/maurinedsign/" target="_blank"><img src={{asset('images/insta.png')}} alt="logo instagram" class="links"></a>
            <a href="https://www.linkedin.com/in/maurine-duray-086603207/" target="_blank"><img src={{asset('images/linkedin.png')}} alt="logo linkedin" class="links"></a>
       </div>
    </div>
</footer>