<nav>
		<ul>
			<li><a href={{path("homepage")}}>Homepage</a></li>
			<li><a href={{path("homepage")}}#about>About</a></li>
			<li><a href={{path("portfolio")}}>Portfolio</a></li>
			<li><a href="#contact">Contact</a></li>
            
		</ul>
</nav>