{% extends "base.html.twig" %}

{% block tittle %}Ajout d'une compétence{% endblock %}

{% block body %}
    <h1>Ajout d'une compétence</h1>
    {{form_start(myform)}}
    {{form_end(myform)}}
{% endblock %}